.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;

}
.card {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.MuiAvatar-root {
    width: 100px !important; 
    height: 100px !important;
    margin:auto;
    
}